.Div1
{
  background-color: lightblue;
}
.Div2
{
    background-color: lightblue;
}
.User1
{
  text-decoration-color: lightcoral;
}
.User2
{
  text-decoration-color: lightcoral;
}
.body
{
    background-color: skyblue;
}